#options {
    display: flex;
    flex-direction: row;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    transition: transform 0.25s;
}

.emoji:hover img {
    transform: scale(1.1);
}

.count {
    margin-top: 5px;
    font-size: 5vw;
}

.count:hover {
    color: blue;
}